<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analiza</title>
</head>
<body>

    <h1>Analiza na tekst</h1>

    <form action="/analiza" method="POST">

        <textarea
            name="text"
            rows="10"
            cols="50"
            placeholder="Vnesi tekst..."
        ></textarea>

        <br><br>

        <button type="submit">
            Analiziraj
        </button>

    </form>

</body>
</html>